*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.top{
	width: 100%;
	height: 3.6rem;
	background-image: url('../img/00-@2x.png');
	background-size: cover;
}
.top .diyi{
	width: 100%;
	height: 0.44rem;
	/* background: pink; */
	margin-top: 0.65rem;
	float: left;
}
.top .diyi .zuo{
	width: 0.44rem;
	height: 0.44rem;
	background-image: url('../img/7@2x.png');
	background-size: cover;
	float: left;
	margin-left: 0.24rem;
}
.top .diyi .zi{
	font-size: 0.36rem;
	margin-left: 2.52rem;
	line-height: 0.44rem;
	color: #fff;
	float: left;
}
.top .dier{
	height: 1.08rem;
	width: 100%;
	/* background: pink; */
	float: left;
	margin-top: 0.5rem;
}
.top .dier .touxiang{
	height: 1.08rem;
	width: 1.08rem;
	background-image: url('../img/touxiang@2x.png');
	background-size: cover;
	float: left;
	margin-left: 0.48rem;
}
.top .dier .wenzi{
	height: 100%;
	width: 2.05rem;
	float: left;
	margin-left: 0.15rem;
}
.top .dier .wenzi a{
	color: #fff;
	font-size: 0.3rem;
	float: left;
	margin-top: 0.15rem;
}
.top .dier .wenzi .vip{
	height: 0.26rem;
	width: 0.26rem;
	background-image: url('../img/vip@2x.png');
	background-size: cover;
	float: right;
	margin-top: 0.15rem;
}
.top .dier .qiandao{
	height: 0.36rem;
	width: 0.7rem;
	font-size: 0.2rem;
	color: #fff;
	text-align: center;
	line-height: 0.36rem;
	border-radius: 0.1rem;
	border: #fff solid 0.03rem;
	float: right;
	margin-right: 0.5rem;
	margin-top: 0.22rem;
}

.top .disan .xuanxiang{
	width: 100%;
	height: 0.3rem;
	/* background:pink; */

	float: left;
	margin-top: 0.4rem;

}
.top .disan .xuanxiang a{
	color: #fff;
	font-size: 0.2rem;
	float: left;
	margin-left: 0.8rem;
	line-height: 0.4rem;
}
/* .top .disan .xuanxiang span{
	color: #fff;
	float: left;
} */

.liebiao .beijing{
	width: 100%;
	height: 9.74rem;
	background: #f6f6f6;
	float: left;
}
.liebiao .beijing .shang{
	width: 100%;
	height: 4.40rem;
	background: #fff;
	float: left;
	margin-top: 0.1rem;
}
.liebiao .beijing .shang .box{
	width: 100%;
	height: 0.88rem;
}
.liebiao .beijing .shang .box img{
	height: 0.88rem;
	width: 0.88rem;
	float: left;
	margin-left: 0.72rem;
}
.liebiao .beijing .shang .box .wenzi{
	font-size: 0.24rem;
	color: #000;
	float: left;
	margin-top: 0.3rem;
}
.liebiao .beijing .xia{
	height: 1rem;
	width: 100%;
	color: #5e30d9;
	font-size: 0.28rem;
	text-align: center;
	line-height: 1rem;
	background: #fff;
	float: left;
	margin-top: 0.6rem;
}